version: "3"
services:
  edgedb:
    image: edgedb/edgedb
    environment:
      EDGEDB_SERVER_SECURITY: insecure_dev_mode
    volumes:
      - "./dbschema:/dbschema"
    ports:
      - "5656:5656"
  web:
    build:
      context: ./
      target: runner
    volumes:
      - .:/app
    command: npm dev
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
  